body {
    background-image: url('img/dark_embroidery.png');
    /*background-color:#888;*/
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery__item {
    margin:15px;
    background-color:white;
    border: 10px solid white;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px #222;
    transition: 0.5s all;
}

.gallery__item:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px #222;
}

.gallery__item__image {
    width:200px;
    height:200px;
}

.gallery__item__title {
    text-align: center;
}

